:root{
    --color-1: #111109;
    --color-2: #f3f0eb;
    --color-3: #dfe0c6;
    --color-4: #223019;
    --color-5: #22393f;
}

.container{
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    background-color: var(--color-1);
    padding: 10px 30px;
    outline: none;
    border: none;
    border: 1px solid var(--color-1);
    color: var(--color-2);
    margin-top: 10px;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
}
.form-container{
  /* Arriba | Derecha | Abajo | Izquierda */
  margin: 10px 20% 10px 20%;
}
.field{
    
    padding-top: 15px;
    padding-bottom: 15px;
}
.field input{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    border: 0;
    outline: none;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--color-1);
    font-size: medium;
}

button:hover{
    color: rgb(130,128,122)
}


@media only screen and (max-width: 900px){
    .form-container{
        /* Arriba | Derecha | Abajo | Izquierda */
        margin: 10px 2% 10px 2%;
    }
}