.banner{
    background-color: #F3F0EB ;
}

.intro{
    background-color: #22393F;
}

.service{
    background-color: #DFE0C6;
}

.work_whit{
    background-color: #111109;
}

.end{
    background-color: #F3F0EB;
}