.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
    align-items: center;
    text-align: center;
    font-size: 50px;
    position: relative;
    min-height: 100vh;
    font-weight: bolder;
}

.banner{
    background-color: #F3F0EB ;
}

.intro{
    background-color: #22393F;
}

.service{
    background-color: #DFE0C6;
}

.work_whit{
    background-color: #111109;
}

.end{
    background-color: #F3F0EB;
}