.titulo{
    justify-content: center;
    align-items: center; /* Para centrar verticalmente */ 
    text-align: center;
    font-size: 50px;
    margin: 7% auto;
}

img{
    max-width: 100%;
    margin-bottom: 0.5em;
    display: block;
}

.gallery{
    columns: 5 320px;
    column-gap: 0.5em;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center; /* Para centrar verticalmente */
}

.texto {
    text-align: left;
    margin-right: 5%;
}

.video-intro {
    text-align: right;
}

.videos{
    text-align: center;
}